header {
    background-image: url('./resources/header-bg.png');
    position: relative;
    background-size: 100%;
    z-index: 0;
    object-fit: cover;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.93);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}